<p>httpcall works!</p>

<button on-click="getRxjsData()">Click</button>

<!--rxjs is a reactive extension javascript
it use to enable to use observabale in javascript project.
allows us to compose our asynchronous or callback-based code into a sequence of operations executed on a data stream that releases values from a publisher to a subscriber. 
Most of the time, rxJs is used in HTTP calls with angular. Because http streams are asynchronous data, we can subscribe to them and apply filters to them.
-->